extends layout

block content
  h1= title
  p Welcome to #{title}
  P Learning the node js.
  
  button(type="button", class="btn btn-primary", onclick="update()") Press Me
  br
  br
  div(id = "target") 
    b Display
  script.  
   var client_count=0;
   a(href='/gucci') Gucci link

     function update()
      {
       client_count = client_count+1;
       document.getElementById("target").innerHTML=`Value now ${client_count}`;
     }